.plashka-01, .top, .shadow_txt, .separate-line, .bc_-_background, .bg_btn_big_red, .bg_btn_big_blue, .bg_btn_ipoteka, .bg_btn_300_red, .bg_btn_300_blue, .bg_btn_middle_red, .bg_btn_middle_blue, .scroll-up, .scroll-down, .bg_ipoteka_product_background, .left_menu_title_clear, .left_menu_title, .bg_btn_red, .bg_btn_blue, .logo, .bg_btn_125_red, .bg_btn_125_blue, .feather, .lift, .logo24, .banner-top-text-bg, .warn-ico, .scroll-right, .scroll-left, .metro_red_line, .metro_purple_line, .metro_orange_line, .metro_green_line, .metro_blue_line, .icon_zastr2, .icon_zastr, .icon_agent, .icon_metro_active, .icon_metro, .move_icon, .icon_spisok, .map-info, .sprite-search-in, .icon_save_no, .icon_save, .icon_print, .video, .gt3, .sprite-xls-24, .info-with-photo, .info, .btnClose, .printer, .pdf, .cart-off, .cart, .icon_checkbox_on, .icon_checkbox_off, .icon_sticker_active, .icon_sticker, .ico-help-24x24, .metro_red_line20, .metro_purple_line20, .metro_orange_line20, .metro_green_line20, .metro_blue_line20, .icon-apple, .icon-android, .banner-top-text-close, .farm-vodoem, .farm-voda, .farm-svet, .farm-kolodec, .farm-gaz, .redstar-off, .close_white, .close_orange, .close, .sdig-9, .sdig-8, .sdig-7, .sdig-6, .sdig-5, .sdig-4, .sdig-3, .sdig-20, .sdig-2, .sdig-19, .sdig-18, .sdig-17, .sdig-16, .sdig-15, .sdig-14, .sdig-13, .sdig-12, .sdig-11, .sdig-10, .sdig-1, .star-g-yes, .star-g-no, .star-fav-yes, .star-fav-no, .pa-hotel, .red_line, .purple_line, .orange_line, .green_line, .blue_line, .arrow2, .arrow1, .ch-on, .ch-off, .checkbox-on, .checkbox-off, .search, .redstar-on, .top-selected, ._360, .icon_spisok2, .icon_sticker_grey, .icon_sticker_blue, .for_button, .zem-zavod, .zem-les, .zem-build, .pa-warehouse, .pa-salon, .pa-production, .pa-office, .pa-market, .pa-live-building, .pa-kolos, .pa-catering, .pa-business-building, .pa-bank, .pa-autobusiness, .pa-agricultural, .sprite-geo, .compass90, .compass45, .compass360, .compass315, .compass270, .compass225, .compass180, .compass135, .papers, .edit-clear, .cart_-_white, .all-unmark, .all-mark, .icon_rub, .sind-6, .sind-2, .sind-10, .top3, .top-allocated, .sprite-builder, .sind-9, .sind-8, .sind-7, .sind-5, .sind-4, .sind-3, .sind-12, .sind-1, .info-with-kvgr, .railway_line, .icon_sticker-small, .sind-11, .icon_spisok-small, .podrobnee, .sprite-camera, .phone, .out, .arrow3, .bc_-_dots { background: url(/themes/2012-03/images/sprite.png?update=2017-12-06_120233) no-repeat }

/* plashka-01 */ .plashka-01 { background-position: -1px -1px; width: 1025px; height: 40px }
/* top */ .top { background-position: -1px -43px; width: 1025px; height: 100px }
/* shadow_txt */ .shadow_txt { background-position: -1px -145px; width: 825px; height: 28px }
/* separate-line */ .separate-line { background-position: -1px -175px; width: 797px; height: 24px }
/* bc_-_background */ .bc_-_background { background-position: -1px -201px; width: 795px; height: 100px }
/* bg_btn_big_red */ .bg_btn_big_red { background-position: -1px -303px; width: 408px; height: 70px }
/* bg_btn_big_blue */ .bg_btn_big_blue { background-position: -411px -303px; width: 408px; height: 70px }
/* bg_btn_ipoteka */ .bg_btn_ipoteka { background-position: -1px -375px; width: 400px; height: 43px }
/* bg_btn_300_red */ .bg_btn_300_red { background-position: -403px -375px; width: 300px; height: 43px }
/* bg_btn_300_blue */ .bg_btn_300_blue { background-position: -705px -375px; width: 300px; height: 43px }
/* bg_btn_middle_red */ .bg_btn_middle_red { background-position: -1px -420px; width: 250px; height: 43px }
/* bg_btn_middle_blue */ .bg_btn_middle_blue { background-position: -253px -420px; width: 250px; height: 43px }
/* scroll-up */ .scroll-up { background-position: -505px -420px; width: 210px; height: 46px }
/* scroll-down */ .scroll-down { background-position: -717px -420px; width: 210px; height: 46px }
/* bg_ipoteka_product_background */ .bg_ipoteka_product_background { background-position: -1px -468px; width: 185px; height: 80px }
/* left_menu_title_clear */ .left_menu_title_clear { background-position: -188px -468px; width: 185px; height: 31px }
/* left_menu_title */ .left_menu_title { background-position: -375px -468px; width: 185px; height: 31px }
/* bg_btn_red */ .bg_btn_red { background-position: -562px -468px; width: 165px; height: 100px }
/* bg_btn_blue */ .bg_btn_blue { background-position: -729px -468px; width: 165px; height: 100px }
/* logo */ .logo { background-position: -1px -570px; width: 132px; height: 48px }
/* bg_btn_125_red */ .bg_btn_125_red { background-position: -135px -570px; width: 125px; height: 43px }
/* bg_btn_125_blue */ .bg_btn_125_blue { background-position: -262px -570px; width: 125px; height: 43px }
/* feather */ .feather { background-position: -389px -570px; width: 120px; height: 112px }
/* lift */ .lift { background-position: -511px -570px; width: 82px; height: 47px }
/* logo24 */ .logo24 { background-position: -595px -570px; width: 71px; height: 26px }
/* banner-top-text-bg */ .banner-top-text-bg { background-position: -668px -570px; width: 60px; height: 31px }
/* warn-ico */ .warn-ico { background-position: -730px -570px; width: 50px; height: 41px }
/* scroll-right */ .scroll-right { background-position: -782px -570px; width: 46px; height: 97px }
/* scroll-left */ .scroll-left { background-position: -830px -570px; width: 46px; height: 97px }
/* metro_red_line */ .metro_red_line { background-position: -878px -570px; width: 40px; height: 39px }
/* metro_purple_line */ .metro_purple_line { background-position: -920px -570px; width: 40px; height: 39px }
/* metro_orange_line */ .metro_orange_line { background-position: -962px -570px; width: 40px; height: 39px }
/* metro_green_line */ .metro_green_line { background-position: -1px -684px; width: 40px; height: 39px }
/* metro_blue_line */ .metro_blue_line { background-position: -43px -684px; width: 40px; height: 39px }
/* icon_zastr2 */ .icon_zastr2 { background-position: -85px -684px; width: 40px; height: 39px }
/* icon_zastr */ .icon_zastr { background-position: -127px -684px; width: 40px; height: 39px }
/* icon_agent */ .icon_agent { background-position: -169px -684px; width: 40px; height: 39px }
/* icon_metro_active */ .icon_metro_active { background-position: -211px -684px; width: 34px; height: 27px }
/* icon_metro */ .icon_metro { background-position: -247px -684px; width: 34px; height: 27px }
/* move_icon */ .move_icon { background-position: -283px -684px; width: 31px; height: 21px }
/* icon_spisok */ .icon_spisok { background-position: -316px -684px; width: 27px; height: 27px }
/* map-info */ .map-info { background-position: -345px -684px; width: 27px; height: 26px }
/* sprite-search-in */ .sprite-search-in { background-position: -374px -684px; width: 25px; height: 25px }
/* icon_save_no */ .icon_save_no { background-position: -401px -684px; width: 25px; height: 24px }
/* icon_save */ .icon_save { background-position: -428px -684px; width: 24px; height: 24px }
/* icon_print */ .icon_print { background-position: -454px -684px; width: 24px; height: 24px }
/* video */ .video { background-position: -480px -684px; width: 24px; height: 24px }
/* gt3 */ .gt3 { background-position: -506px -684px; width: 24px; height: 24px }
/* sprite-xls-24 */ .sprite-xls-24 { background-position: -532px -684px; width: 24px; height: 24px }
/* info-with-photo */ .info-with-photo { background-position: -558px -684px; width: 24px; height: 24px }
/* info */ .info { background-position: -584px -684px; width: 24px; height: 24px }
/* btnClose */ .btnClose { background-position: -610px -684px; width: 24px; height: 24px }
/* printer */ .printer { background-position: -636px -684px; width: 24px; height: 24px }
/* pdf */ .pdf { background-position: -662px -684px; width: 24px; height: 24px }
/* cart-off */ .cart-off { background-position: -688px -684px; width: 24px; height: 24px }
/* cart */ .cart { background-position: -714px -684px; width: 24px; height: 24px }
/* icon_checkbox_on */ .icon_checkbox_on { background-position: -740px -684px; width: 23px; height: 23px }
/* icon_checkbox_off */ .icon_checkbox_off { background-position: -765px -684px; width: 23px; height: 23px }
/* icon_sticker_active */ .icon_sticker_active { background-position: -790px -684px; width: 22px; height: 30px }
/* icon_sticker */ .icon_sticker { background-position: -814px -684px; width: 22px; height: 30px }
/* ico-help-24x24 */ .ico-help-24x24 { background-position: -838px -684px; width: 22px; height: 22px }
/* metro_red_line20 */ .metro_red_line20 { background-position: -862px -684px; width: 20px; height: 20px }
/* metro_purple_line20 */ .metro_purple_line20 { background-position: -884px -684px; width: 20px; height: 20px }
/* metro_orange_line20 */ .metro_orange_line20 { background-position: -906px -684px; width: 20px; height: 20px }
/* metro_green_line20 */ .metro_green_line20 { background-position: -928px -684px; width: 20px; height: 20px }
/* metro_blue_line20 */ .metro_blue_line20 { background-position: -950px -684px; width: 20px; height: 20px }
/* icon-apple */ .icon-apple { background-position: -972px -684px; width: 20px; height: 20px }
/* icon-android */ .icon-android { background-position: -994px -684px; width: 20px; height: 20px }
/* banner-top-text-close */ .banner-top-text-close { background-position: -1px -725px; width: 20px; height: 20px }
/* farm-vodoem */ .farm-vodoem { background-position: -23px -725px; width: 20px; height: 16px }
/* farm-voda */ .farm-voda { background-position: -45px -725px; width: 20px; height: 16px }
/* farm-svet */ .farm-svet { background-position: -67px -725px; width: 20px; height: 16px }
/* farm-kolodec */ .farm-kolodec { background-position: -89px -725px; width: 20px; height: 16px }
/* farm-gaz */ .farm-gaz { background-position: -111px -725px; width: 20px; height: 16px }
/* redstar-off */ .redstar-off { background-position: -133px -725px; width: 19px; height: 18px }
/* close_white */ .close_white { background-position: -154px -725px; width: 18px; height: 18px }
/* close_orange */ .close_orange { background-position: -174px -725px; width: 18px; height: 18px }
/* close */ .close { background-position: -194px -725px; width: 18px; height: 18px }
/* sdig-9 */ .sdig-9 { background-position: -214px -725px; width: 18px; height: 17px }
/* sdig-8 */ .sdig-8 { background-position: -234px -725px; width: 18px; height: 17px }
/* sdig-7 */ .sdig-7 { background-position: -254px -725px; width: 18px; height: 17px }
/* sdig-6 */ .sdig-6 { background-position: -274px -725px; width: 18px; height: 17px }
/* sdig-5 */ .sdig-5 { background-position: -294px -725px; width: 18px; height: 17px }
/* sdig-4 */ .sdig-4 { background-position: -314px -725px; width: 18px; height: 17px }
/* sdig-3 */ .sdig-3 { background-position: -334px -725px; width: 18px; height: 17px }
/* sdig-20 */ .sdig-20 { background-position: -354px -725px; width: 18px; height: 17px }
/* sdig-2 */ .sdig-2 { background-position: -374px -725px; width: 18px; height: 17px }
/* sdig-19 */ .sdig-19 { background-position: -394px -725px; width: 18px; height: 17px }
/* sdig-18 */ .sdig-18 { background-position: -414px -725px; width: 18px; height: 17px }
/* sdig-17 */ .sdig-17 { background-position: -434px -725px; width: 18px; height: 17px }
/* sdig-16 */ .sdig-16 { background-position: -454px -725px; width: 18px; height: 17px }
/* sdig-15 */ .sdig-15 { background-position: -474px -725px; width: 18px; height: 17px }
/* sdig-14 */ .sdig-14 { background-position: -494px -725px; width: 18px; height: 17px }
/* sdig-13 */ .sdig-13 { background-position: -514px -725px; width: 18px; height: 17px }
/* sdig-12 */ .sdig-12 { background-position: -534px -725px; width: 18px; height: 17px }
/* sdig-11 */ .sdig-11 { background-position: -554px -725px; width: 18px; height: 17px }
/* sdig-10 */ .sdig-10 { background-position: -574px -725px; width: 18px; height: 17px }
/* sdig-1 */ .sdig-1 { background-position: -594px -725px; width: 18px; height: 17px }
/* star-g-yes */ .star-g-yes { background-position: -614px -725px; width: 18px; height: 17px }
/* star-g-no */ .star-g-no { background-position: -634px -725px; width: 18px; height: 17px }
/* star-fav-yes */ .star-fav-yes { background-position: -654px -725px; width: 18px; height: 17px }
/* star-fav-no */ .star-fav-no { background-position: -674px -725px; width: 18px; height: 17px }
/* pa-hotel */ .pa-hotel { background-position: -694px -725px; width: 18px; height: 16px }
/* red_line */ .red_line { background-position: -714px -725px; width: 18px; height: 15px }
/* purple_line */ .purple_line { background-position: -734px -725px; width: 18px; height: 15px }
/* orange_line */ .orange_line { background-position: -754px -725px; width: 18px; height: 15px }
/* green_line */ .green_line { background-position: -774px -725px; width: 18px; height: 15px }
/* blue_line */ .blue_line { background-position: -794px -725px; width: 18px; height: 15px }
/* arrow2 */ .arrow2 { background-position: -814px -725px; width: 17px; height: 20px }
/* arrow1 */ .arrow1 { background-position: -833px -725px; width: 17px; height: 20px }
/* ch-on */ .ch-on { background-position: -852px -725px; width: 17px; height: 17px }
/* ch-off */ .ch-off { background-position: -871px -725px; width: 17px; height: 17px }
/* checkbox-on */ .checkbox-on { background-position: -890px -725px; width: 17px; height: 17px }
/* checkbox-off */ .checkbox-off { background-position: -909px -725px; width: 17px; height: 17px }
/* search */ .search { background-position: -928px -725px; width: 17px; height: 17px }
/* redstar-on */ .redstar-on { background-position: -947px -725px; width: 17px; height: 17px }
/* top-selected */ .top-selected { background-position: -966px -725px; width: 17px; height: 16px }
/* 360 */ ._360 { background-position: -985px -725px; width: 17px; height: 15px }
/* icon_spisok2 */ .icon_spisok2 { background-position: -1004px -725px; width: 17px; height: 11px }
/* icon_sticker_grey */ .icon_sticker_grey { background-position: -1px -747px; width: 16px; height: 22px }
/* icon_sticker_blue */ .icon_sticker_blue { background-position: -19px -747px; width: 16px; height: 22px }
/* for_button */ .for_button { background-position: -37px -747px; width: 16px; height: 17px }
/* zem-zavod */ .zem-zavod { background-position: -55px -747px; width: 16px; height: 16px }
/* zem-les */ .zem-les { background-position: -73px -747px; width: 16px; height: 16px }
/* zem-build */ .zem-build { background-position: -91px -747px; width: 16px; height: 16px }
/* pa-warehouse */ .pa-warehouse { background-position: -109px -747px; width: 16px; height: 16px }
/* pa-salon */ .pa-salon { background-position: -127px -747px; width: 16px; height: 16px }
/* pa-production */ .pa-production { background-position: -145px -747px; width: 16px; height: 16px }
/* pa-office */ .pa-office { background-position: -163px -747px; width: 16px; height: 16px }
/* pa-market */ .pa-market { background-position: -181px -747px; width: 16px; height: 16px }
/* pa-live-building */ .pa-live-building { background-position: -199px -747px; width: 16px; height: 16px }
/* pa-kolos */ .pa-kolos { background-position: -217px -747px; width: 16px; height: 16px }
/* pa-catering */ .pa-catering { background-position: -235px -747px; width: 16px; height: 16px }
/* pa-business-building */ .pa-business-building { background-position: -253px -747px; width: 16px; height: 16px }
/* pa-bank */ .pa-bank { background-position: -271px -747px; width: 16px; height: 16px }
/* pa-autobusiness */ .pa-autobusiness { background-position: -289px -747px; width: 16px; height: 16px }
/* pa-agricultural */ .pa-agricultural { background-position: -307px -747px; width: 16px; height: 16px }
/* sprite-geo */ .sprite-geo { background-position: -325px -747px; width: 16px; height: 16px }
/* compass90 */ .compass90 { background-position: -343px -747px; width: 16px; height: 16px }
/* compass45 */ .compass45 { background-position: -361px -747px; width: 16px; height: 16px }
/* compass360 */ .compass360 { background-position: -379px -747px; width: 16px; height: 16px }
/* compass315 */ .compass315 { background-position: -397px -747px; width: 16px; height: 16px }
/* compass270 */ .compass270 { background-position: -415px -747px; width: 16px; height: 16px }
/* compass225 */ .compass225 { background-position: -433px -747px; width: 16px; height: 16px }
/* compass180 */ .compass180 { background-position: -451px -747px; width: 16px; height: 16px }
/* compass135 */ .compass135 { background-position: -469px -747px; width: 16px; height: 16px }
/* papers */ .papers { background-position: -487px -747px; width: 16px; height: 16px }
/* edit-clear */ .edit-clear { background-position: -505px -747px; width: 16px; height: 16px }
/* cart_-_white */ .cart_-_white { background-position: -523px -747px; width: 16px; height: 16px }
/* all-unmark */ .all-unmark { background-position: -541px -747px; width: 16px; height: 16px }
/* all-mark */ .all-mark { background-position: -559px -747px; width: 16px; height: 16px }
/* icon_rub */ .icon_rub { background-position: -577px -747px; width: 15px; height: 21px }
/* sind-6 */ .sind-6 { background-position: -594px -747px; width: 15px; height: 16px }
/* sind-2 */ .sind-2 { background-position: -611px -747px; width: 15px; height: 16px }
/* sind-10 */ .sind-10 { background-position: -628px -747px; width: 15px; height: 16px }
/* top3 */ .top3 { background-position: -645px -747px; width: 15px; height: 15px }
/* top-allocated */ .top-allocated { background-position: -662px -747px; width: 15px; height: 14px }
/* sprite-builder */ .sprite-builder { background-position: -679px -747px; width: 14px; height: 18px }
/* sind-9 */ .sind-9 { background-position: -695px -747px; width: 14px; height: 16px }
/* sind-8 */ .sind-8 { background-position: -711px -747px; width: 14px; height: 16px }
/* sind-7 */ .sind-7 { background-position: -727px -747px; width: 14px; height: 16px }
/* sind-5 */ .sind-5 { background-position: -743px -747px; width: 14px; height: 16px }
/* sind-4 */ .sind-4 { background-position: -759px -747px; width: 14px; height: 16px }
/* sind-3 */ .sind-3 { background-position: -775px -747px; width: 14px; height: 16px }
/* sind-12 */ .sind-12 { background-position: -791px -747px; width: 14px; height: 16px }
/* sind-1 */ .sind-1 { background-position: -807px -747px; width: 14px; height: 16px }
/* info-with-kvgr */ .info-with-kvgr { background-position: -823px -747px; width: 14px; height: 16px }
/* railway_line */ .railway_line { background-position: -839px -747px; width: 14px; height: 13px }
/* icon_sticker-small */ .icon_sticker-small { background-position: -855px -747px; width: 13px; height: 18px }
/* sind-11 */ .sind-11 { background-position: -870px -747px; width: 13px; height: 16px }
/* icon_spisok-small */ .icon_spisok-small { background-position: -885px -747px; width: 13px; height: 13px }
/* podrobnee */ .podrobnee { background-position: -900px -747px; width: 12px; height: 12px }
/* sprite-camera */ .sprite-camera { background-position: -914px -747px; width: 12px; height: 12px }
/* phone */ .phone { background-position: -928px -747px; width: 10px; height: 10px }
/* out */ .out { background-position: -940px -747px; width: 10px; height: 10px }
/* arrow3 */ .arrow3 { background-position: -952px -747px; width: 9px; height: 19px }
/* bc_-_dots */ .bc_-_dots { background-position: -963px -747px; width: 9px; height: 1px }
