.term-emls_v7_007_02_right_top, .term-emls_v7_007_04_left_top, .term-emls_v7_007_06_left_top, .term-emls_v7_007_08_left_top, .term-emls_v7_007_20_right_top, .term-emls_v7_007_22_left_top, .term-emls_v7_007_24_left_top, .term-emls_v7_007_26_left_top, .term-emls_v7_007_29_right_top, .term-emls_v7_007_31_left_top, .term-emls_v7_007_33_left_top, .term-emls_v7_007_35_left_top, .term-emls_v7_007_38_right_top, .term-emls_v7_007_40_left_top, .term-emls_v7_007_42_left_top, .term-emls_v7_007_44_left_top, .term-emls_v7_007_56_right_top, .term-emls_v7_007_58_left_top, .term-emls_v7_007_60_left_top, .term-emls_v7_007_62_left_top { background-image: url("/spb/term/static/images/sprite/term.png?update=2017-01-25_17:44:12"); background-repeat: no-repeat }

.term-emls_v7_007_02_right_top { background-position: -1px -1px; width: 10px; height: 22px;}
.term-emls_v7_007_04_left_top { background-position: -13px -1px; width: 10px; height: 22px;}
.term-emls_v7_007_06_left_top { background-position: -25px -1px; width: 10px; height: 22px;}
.term-emls_v7_007_08_left_top { background-position: -1px -25px; width: 10px; height: 22px;}
.term-emls_v7_007_20_right_top { background-position: -13px -25px; width: 10px; height: 30px;}
.term-emls_v7_007_22_left_top { background-position: -25px -25px; width: 10px; height: 30px;}
.term-emls_v7_007_24_left_top { background-position: -1px -57px; width: 10px; height: 30px;}
.term-emls_v7_007_26_left_top { background-position: -13px -57px; width: 10px; height: 30px;}
.term-emls_v7_007_29_right_top { background-position: -25px -57px; width: 10px; height: 25px;}
.term-emls_v7_007_31_left_top { background-position: -1px -89px; width: 10px; height: 25px;}
.term-emls_v7_007_33_left_top { background-position: -13px -89px; width: 10px; height: 25px;}
.term-emls_v7_007_35_left_top { background-position: -25px -89px; width: 10px; height: 25px;}
.term-emls_v7_007_38_right_top { background-position: -1px -116px; width: 10px; height: 30px;}
.term-emls_v7_007_40_left_top { background-position: -13px -116px; width: 10px; height: 30px;}
.term-emls_v7_007_42_left_top { background-position: -25px -116px; width: 10px; height: 30px;}
.term-emls_v7_007_44_left_top { background-position: -1px -148px; width: 10px; height: 30px;}
.term-emls_v7_007_56_right_top { background-position: -13px -148px; width: 10px; height: 72px;}
.term-emls_v7_007_58_left_top { background-position: -25px -148px; width: 10px; height: 72px;}
.term-emls_v7_007_60_left_top { background-position: -1px -222px; width: 10px; height: 72px;}
.term-emls_v7_007_62_left_top { background-position: -13px -222px; width: 10px; height: 72px;}
